<h1><%= @place["name"] %></h1>


<h2>New Post</h2>

<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= entry["title"] %></h5>
          <p class="card-text"><small><%= entry["occurred_on"] %></small></p>
          <% if entry.uploaded_image.attached? %>
            <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid mb-2">
          <% end %>
          <p class="card-text"><%= entry["description"] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>
 <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Upload</a>
</p>

<p>
  <a href="/places" class="btn btn-primary">Back to All Places</a>
</p>

